* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #051d40;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 60px;
}

.navbar {
  padding: 20px 60px 20px 40px;
  background-color: #051d40;
  position: sticky;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item:link,
.nav-item:visited {
  text-decoration: none;
  font-size: 16px;
  color: #cdd2d9;
}

.nav-item:hover,
.nav-item:active {
  color: #fff;
  transform: scale(1.05);
}

.logo {
  height: 80px;
  margin-bottom: 10px;
}

.hero {
  margin: 60px 150px 0 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-img {
  width: 100%;
}

.cta-button:link,
.cta-button:visited {
  margin-top: 40px;
  text-decoration: none;
  padding: 16px 32px;
  border: solid 2px #051d40;

  border-radius: 10px;

  display: inline-block;
}

.contact-btn {
  background-color: #051d40;
  color: #fff;
  margin-left: 15px;
}

.contact-btn:hover {
  background-color: #1e3453;
  border: solid 2px #1e3453;
}

.services-btn {
  background-color: #fff;
  color: #051d40;
}

.services-btn:hover {
  background-color: #051d40;
  color: #fff;
}

.tag-line {
  font-size: 62px;
  line-height: 1;
  font-weight: 700;
}

.hero-desc {
  margin-top: 30px;
  line-height: 1.7;
}

.about {
  background-color: #e6e8ec;
  padding: 25px 150px;
  margin-top: 60px;
  color: #010913;

  display: flex;
  gap: 50px;
  align-items: center;
}

.heading2 {
  font-size: 32px;
  font-weight: 600;
}

.about-desc {
  line-height: 1.5;
  margin-top: 30px;
}

.about-img {
  height: 400px;
}

.services {
  padding: 100px 250px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 150px;
  row-gap: 100px;
}

.service:hover {
  transform: scale(1.1);
}

.service-name {
  font-size: 28px;
  font-weight: 700;
}

.service-desc {
  margin-top: 20px;
  line-height: 1.7;
}

.service-img {
  height: 300px;
  width: 300px;
}

.know-more {
  padding: 5px 10px;
  border: solid 1px #051d40;
  text-decoration: none;
  color: #051d40;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
}

.know-more:hover {
  background-color: #051d40;
  color: #fff;
}

footer {
  padding: 50px 150px;
  background-color: #051d40;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #cdd2d9;
}

.footer-link:hover,
.footer-link:active {
  color: #fff;
}
